<IfModule mod_rewrite.c>
    RewriteEngine On
    Options -Indexes

    # Block direct access to hidden files
    RewriteRule "(^|/)\." - [F,L]

    # Route all requests for admin.sikaphub.com to index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>
