<IfModule mod_rewrite.c>
    RewriteEngine On
    Options -Indexes

    # Block direct access to hidden files
    RewriteRule "(^|/)\." - [F,L]

    # Serve static assets from main public directory if requested on subdomain
    RewriteRule ^public/(.*)$ ../public/$1 [L,NC]
    RewriteRule ^assets/(.*)$ ../public/assets/$1 [L,NC]

    # Route all other request paths to index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>

